html {
    height: 100%;
  }
body {
    min-height: 100%;
  }

.navbar-collapse {
    height: 100 vh;
    width: 25 vw;
}

.company-desc {
    height: 50 vh;
    width: 100vw;
}

.icons {
    position: center !important;
}

.social-media {
    margin-bottom: 60px !important;
}

.social-media-main{
    position: absolute;
    bottom: 0px;
    background-color: black;
    width:100vw;
}